// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Default values for Tailwind base
@layer base {
    body {
        @apply text-base;
    }
    strong {
        @apply font-extrabold;
    }
    .link {
        @apply text-secondary-dark;
        @apply font-extrabold;
        @apply relative;
        left: 0;
        top: 0;
        transition: .1s linear;
        text-shadow: 0 0 0 #f5ce00;
        text-decoration: underline;
        &:hover, &:active {
            @apply text-black;
            left: -2px;
            top: -2px;
            text-shadow: 2px 2px 0 #f5ce00;
            text-decoration: none;
        }
        &.link-white {
            text-shadow: 0 0 0 #fff;
            &:hover, &:active {
                text-shadow: 2px 2px 0 #fff;
            }
        }
    }
}

