// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');


// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Default values for Tailwind base
@layer base {
    body {
        @apply text-base;
        @apply bg-black;
        @apply leading-normal;
    }
    strong {
        @apply font-extrabold;
    }
    .link {
        @apply text-primary;
        @apply font-extrabold;
        @apply relative;
        left: 0;
        top: 0;
        transition: .1s linear;
        // text-shadow: 0 0 0 #f5ce00;
        filter: drop-shadow(0 0 0 #00688f);
        text-decoration: underline;
        padding-top: .2rem;
        padding-bottom: .2rem;
        &:hover, &:active {
            @apply text-white;
            left: -2px;
            top: -3px;
            // text-shadow: 2px 2px 0 #f5ce00;
            filter: drop-shadow(2px 3px 0 #00688f);
            text-decoration: none;
        }
    }
}

