.gooSvg {
    path {
        fill: #fff602;
        animation: gooAnim 20s linear infinite;
    }
}

.gooContainer {
    filter:blur(20px) contrast(30);
    background: #fff;
    @apply absolute;
    @apply bottom-0;
    @apply left-0;
    @apply right-0;
    @apply top-0;
}


@keyframes gooAnim {
    0%, 100% {
        d: path('M0.000,60.000 L0.000,40.000 C0.000,40.000 34.164,38.825 138.000,46.000 C224.945,52.008 294.639,55.347 364.000,51.000 C431.945,46.742 453.055,44.000 542.000,44.000 C630.945,44.000 627.742,57.279 737.000,48.000 C847.945,38.578 848.432,42.515 931.000,44.000 C1020.100,45.603 1057.027,29.564 1125.000,39.007 C1196.945,49.001 1254.055,46.501 1341.000,44.000 C1428.207,41.492 1401.400,25.532 1506.000,30.000 C1560.665,32.335 1552.339,32.979 1661.000,38.000 C1759.945,42.572 1723.029,53.317 1835.000,47.000 C1914.322,42.525 1920.000,49.000 1920.000,49.000 L1920.000,60.000 L0.000,60.000 Z');
    }

    33% {
        d: path('M0.000,60.000 L0.000,30.000 C0.000,30.000 23.100,47.186 96.000,43.000 C171.454,38.667 196.050,12.323 264.000,24.000 C326.497,34.740 356.055,49.000 445.000,49.000 C533.945,49.000 564.055,34.422 673.000,22.000 C781.945,9.578 832.055,34.503 904.000,45.000 C975.945,55.497 1048.447,26.825 1117.000,30.000 C1182.367,33.027 1232.233,49.008 1319.000,43.000 C1405.226,37.030 1412.704,9.854 1491.000,17.000 C1545.501,21.974 1560.521,68.623 1668.000,35.000 C1768.840,3.454 1745.892,30.950 1835.000,27.000 C1894.248,24.373 1920.000,15.000 1920.000,15.000 L1920.000,60.000 L0.000,60.000 Z');
    }

    67% {
        d: path('M0.000,60.000 L0.000,26.000 C0.000,26.000 36.177,4.152 137.000,30.000 C218.945,51.008 288.465,46.526 357.000,35.000 C423.945,23.742 463.055,23.000 552.000,23.000 C640.945,23.000 642.055,50.930 751.000,38.508 C859.945,26.086 859.055,13.016 931.000,23.513 C1002.945,34.010 1059.055,22.013 1125.000,41.007 C1190.945,60.001 1248.055,25.014 1335.000,22.513 C1422.207,20.005 1393.400,39.538 1498.000,44.006 C1552.665,46.341 1545.339,24.990 1654.000,30.011 C1752.945,34.583 1716.029,45.827 1825.000,33.510 C1903.945,24.586 1920.000,30.000 1920.000,30.000 L1920.000,60.000 L0.000,60.000 Z');
    }
}