.link {
    display: block;
    $t: .6s;

    .linkText > span {
        display: block;
        opacity: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transform: translateY(100%);
        transition: all $t 0s cubic-bezier(0.165, 0.840, 0.440, 1.000);
        // &:nth-child(1) {
        //     transition: all $t 0s cubic-bezier(0.165, 0.840, 0.440, 1.000);
        // }
        // &:nth-child(2) {
        //     transition: all $t .2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
        // }
    }

    canvas {
        transform: scale(1.05);
        transition: 2s cubic-bezier(0.155, 0.320, 0.130, 1.010);
    }

    &:hover {
        .linkText > span {
            opacity: 1;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            transform: translateY(0);
            &:nth-child(2) {
                transition-delay: .2s;
            }
        }

        canvas {
            transform: scale(1.2);
            transition: 8s cubic-bezier(0.155, 0.320, 0.130, 1.010); //ease-out;
        }
    }

    &:active, &:focus {
        @apply bg-secondary-dark;
        
        .linkText {
            opacity: 0;
            transform: scale(1.3);
            transition: .3s ease-in;
        }

        canvas {
            transform: scale(1.6);
            opacity: 0;
            transition: .5s ease-in;
        }
    }
}