.link {
    .linkText > span {
        $t: .3s;
        display: block;
        opacity: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transform: translateY(100%);
        &:nth-child(1) {
            transition: all $t 0s ease-out, opacity .2s 0s ease-in-out;
        }
        &:nth-child(2) {
            transition: all $t .08s ease-out, opacity .2s .08s ease-in-out;
        }
    }

    canvas {
        transform: scale(1);
        transition: 1s ease-out;
    }

    &:hover {
        .linkText > span {
            opacity: 1;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            transform: translateY(0);
        }

        canvas {
            transform: scale(1.1);
            transition: 6s ease-out;
        }
    }
}
